.wpo-section-title,
.wpo-section-title-s2 {
	margin-bottom: 40px;
	text-align: center;
	margin-top: -15px;

	@include media-query(767px) {
		margin-bottom: 30px;
	}

	span {
		color: #000;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 65px;
		letter-spacing: -0.24px;
		text-transform: capitalize;
		display: flex;
		align-items: center;
		justify-content: center;

		@media(max-width:991px) {
			justify-content: center;
		}

		@media (max-width:991px) {
			font-size: 20px;
			line-height: 35px;
		}

		@media (max-width:575px) {
			font-size: 18px;
			line-height: 35px;
		}

		i {
			line-height: unset;
			margin-right: 10px;
			position: relative;
			top: -4px;
			max-width: 35px;
		}
	}

	h2 {
		color: #0E152B;
		font-size: 55px;
		font-style: normal;
		font-weight: 400;
		line-height: 60px;
		letter-spacing: -1.1px;

		@media(max-width:1399px) {
			font-size: 45px;
			line-height: 55px;
		}

		@media(max-width:1199px) {
			font-size: 40px;
			line-height: 48px;
		}

		@media(max-width:991px) {
			font-size: 35px;
			line-height: 45px;
		}

		@media (max-width:575px) {
			font-size: 25px;
			line-height: 35px;
		}
	}
}

.wpo-section-title-s2 {
	text-align: left;
	margin-bottom: 30px;

	@media (max-width:991px) {
		text-align: center;
	}

	@include media-query(767px) {
		margin-bottom: 25px;
	}

	span {
		justify-content: flex-start;

		@media (max-width:991px) {
			justify-content: center;
		}
	}

	p {
		margin-bottom: 0;
		margin-top: 20px;
	}
}